// header.component.scss

// wrapper for header

    // sub-wrapper for header
    .container {
        padding: 10px;
        display: flex;
        cursor: pointer;
        user-select: none;
        // branding text
        .a-logo {
            font-size: 1.6em;
            font-weight: 900;
            font-family: Bodoni MT Black;
            margin-top: auto;
            margin-bottom: auto;
            span {
              color: red;
            }
        }
        // spacer between branding and navigation
        .spacer {
            flex-grow: 1;
        }
        // navigation wrapper
        .navigation {
            padding: 10px 0;
            // active link in the navigation
            .active{
                background: lighten($color: #313d4b, $amount: 10%);
            }
            // all links in the navigation
            span {
                outline: none;
                margin-left: 15px;
                padding: 5px 20px;
                border-radius: 5px;
                font-weight: bold;
                //color: white;
                &:hover{
                    color: lighten($color: #f95d9b, $amount: 10%);
                }
            }
        }
    }








  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 650px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .el{
      z-index: 1000;
      div{
          padding: 10px 30px;
          &:hover{
              background: lighten($color: #000000, $amount: 20%);
              color: lightgray;
          }
      }
  }