<form #regForm='ngForm' (ngSubmit)="register(regForm.value)">
    <br />
    <div>

        <!-- Mobile No. for logging as freelancer -->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mobile" name="mobile" ngModel>
        </div>

        <!-- Password for logging as freelancer -->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Password" name="password" ngModel>
        </div>
        <br />

        <!-- Submit button for logging as freelancer -->
        <div class="align-center">
            <button appBtnDarkTheme type="submit" class="btn form-control">Register</button>
        </div>
    </div>
</form>